# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
venv/
env/

# AI generated data (important)
ai/faces/
labels.pkl
model.yml

# Node / React
node_modules/

# Environment variables
.env

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Build folders
dist/
build/
